# Dependencies
node_modules
bun.lock

# Build outputs
dist
build
.next
out

# Cache
.turbo
.cache
coverage

# Logs
*.log
logs

# Environment files
.env
.env.*

# IDE
.vscode
.idea

# Misc
*.min.js
*.min.css
